{% extends "templates.html" %} 
{% block title %} Jami Legacy - About Us {% endblock %} 
{% block main %}
<br><br>
<div class="about-us text-center container">
    <h1 class="fw-bold">About Us</h1>
</div>
<br><br>
<section class="container">
    <div class="mission-box">
        <div class="mission-text">
            <h2 class="fw-bold">Our Mission</h2>
            <br>
            <p>At Jami Legacy, our mission is to provide our customers with a unique shopping experience that combines quality footwear with excellent customer service. We believe that everyone deserves to wear shoes that not only look good but also provide the utmost comfort and support. Ultimately, our mission is to help our customers look and feel their best in every step they take. We aim to inspire confidence and comfort through our footwear, and we strive to create a community of shoe lovers who share our passion for quality, style, and comfort.</p>
        </div>
        <div class="mission-img" 
        style="background-image: url('../static/images/static\ prof\ pics.jpg');
        background-size: cover; background-repeat: no-repeat; height: 400px; width: 50%;"
        ></div>
    </div>

    <div class="mission-box">
        <div class="mission-img" 
        style="background-image: url('../static/images/static\ prof\ pics.jpg');
        background-size: cover; background-repeat: no-repeat; height: 400px; width: 50%;"
        ></div>
        <div class="mission-text">
            <h2 class="fw-bold">Our Goals</h2>
            <br>
            <p>Our goal is to curate a collection of shoes that cater to different lifestyles and preferences, ensuring that our customers can always find what they are looking for. We prioritize quality over quantity and only source our products from reputable brands that share our values. We believe in making shopping for shoes hassle-free and convenient. That's why we offer a seamless online shopping experience that is easy to navigate, and we provide all the necessary information our customers need to make informed decisions. Our friendly customer service team is always ready to answer any questions and address any concerns.</p>
        </div>
        
    </div>
</section>
{% endblock %}