{% extends "templates.html" %}
{% block title %} Login {% endblock %}


{% block main %} 
<br>
<br>

<div class="container" style="width: 70vw;">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success" role="alert">
        <button  class="close button" style="display: none;" data-dimiss="alert"></button>
        {{message}}
    </div>
    {% endfor %}
    

    <div class="row">
        <div class="col">
            <h1 class="text-center">Log in</h1>
            <br>
            <form action="/login" method="post">
                {{ form.hidden_tag() }}

                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
                <br>
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
                <br>
                {{ form.submit(class="btn btn-dark") }}
                <br>
            </form>
            <br>
            <p>Forgot password? <a href="#">Reset Password</a></p>
            <br>
            <p class="text-center">Don't have an account? <a href="/signup">Sign up</a></p>
            <br>
        </div>
    </div>
</div>
{% endblock %}
