{% extends "templates.html" %}
{% import "macros.html" as macro %}
{% block title %} Products {% endblock %}

{% block main %}
<div class="hero-card product-page-banner">
    <h1>Products</h1>
    <p>Elevate your shoe game with Jami Legacy Shoes - designed with both style and comfort in mind. 
        Shop now and step up your footwear collection.</p>
</div>


<div class="products-main-box">
<div class="product-container">
{% for product in products %}
{{ macro.product(image=product["image"], name=product["name"], sex=product["sex"], brand=product["brand"], price=product["price"]) }}
{% endfor %}
</div>
</div>
{% endblock %}